# 忽略根目录及所有子目录下的所有文件和文件夹
*
!*/

# 但不忽略User文件夹下的main.c文件
!User/main.c
!User/system_ch32v30x.c
!User/ch32v30x_it.c

# 不忽略Hardware文件夹及其所有内容
!Hardware/*
!Hardware/MPU6050/*
!Debug/*

# !.git/*
!.gitignore
!.README.md

# 注意：由于" *"会忽略所有文件和文件夹，"!*/"用于重新包含所有空目录
# 这是因为" *"会忽略目录本身，而"!Hardware/"仅表示不忽略Hardware目录及其内容，但不包括由"* "忽略的空目录
# 如果你的项目结构保证Hardware不是空目录（即它至少包含一个文件或子目录），则"! */"可能是可选的